<% content_for :page_title, construct_page_title(t('hyrax.users.index.title'), t('hyku.admin.title')) %>
    <% require 'byebug'; debugger; true %>
<h1>
  <%= t('hyrax.users.index.title') %>
</h1>
<table class="table table-striped">
  <tr>

  </tr>
  <tr>
    <div id="search">
      <%= render 'search_form' %>
    </div>
  </tr>
</table>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th class="sorts"><i id="name" class="<%= params[:sort].blank? ? 'caret up' : params[:sort] == "name desc" ? 'caret' : params[:sort] == "name" ? 'caret up' : '' %>"></i><%= t('.id_label') %></th>
      <th><%= t('.role_label') %></th>
      <th><%= t('.access_label') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to hyrax.profile_path(user) do %>
              <%= image_tag(user.avatar.url(:thumb), width: 30) if user.avatar.file %>
            <% end %>
        </td>
        <td><%= link_to user.email, hyrax.profile_path(user) %></td>
        <td></td>
        <td><%= user.last_sign_in_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
